// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import "components/color";
$primary-color: color('deep-orange', 'darken-2');

// Materialize styles
@import "materialize";

body {
  background-color: color('indigo', 'darken-1');
}

.create-room {
  .col {
    .btn-flat {
      margin-top: 1.5rem;
    }
  }
}

.liquid-container {
  transform: none;
  -webkit-transform: none;
}